

h1 {
    font-family: sans-serif;
    color: aqua;
}
body {
    background-color: rgb(13, 12, 12);
    font-size: medium;
    padding: 50px;
    text-align: center;
}
p {
    color: aqua;
}
head {
    color: aqua;
}
.button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}
.button img {
    display: block;
    width: 75px;
    height: auto;
}
  ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 20px;
  }